.chess-square {
  width: $cell-size-base;
  height: $cell-size-base;

  &--white {
    background-color: $bg-cell-white;
  }

  &--black {
    background-color: $bg-cell-black;
  }
}

.chess-square.chess-square--legal {
  @extend %bg-cell-pseudo;

  &:before {
    @extend %bg-cell-legal;
  }

  &:hover {
    @extend %bg-cell-selected;
  }
}

.chess-square.chess-square--en-passant {
  &:before {
    @extend %bg-cell-en-passant;
  }
}

.chess-square.chess-square--capture {
  &:before {
    content: none;
  }

  @extend %bg-cell-capture;
}

.chess-square.chess-square--in-check {
  @extend %bg-cell-capture;
}

.chess-square.chess-square--castling {
  @extend %bg-cell-pseudo;

  &:before {
    @extend %bg-cell-en-passant;
  }
}
